<!--

{% if request.user.permittedlist %}
    
{% endif %}
    -->
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <style>
       body {
        background-color:lightcoral;
        background-image: url(https://images.pexels.com/photos/1111368/pexels-photo-1111368.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
       } 
       table {
           background-color: lightgrey;
       }
       .container
       {
           background-color: linen;
           max-width: 480px;
           padding:20px;
           border-radius: 10px;
       }
    </style>
    <div class="container" style="margin-left: 60ex; margin-top:30vh;">
        <h1>Current Session:<span class="text-success"> {{ request.user.username }}</span></h1>
        <br/>
        <div class="row">
            <div class="span5">
                <table class="table table-striped table-condensed">
                      <thead>
                      <tr>
                          <th>Username</th>
                          <th>Visibility</th>
                          <th>Role</th>
                          <th>Status</th>                                          
                      </tr>
                  </thead>   
                  <tbody>
                    {% if request.user.userpermission.is_student == True %}
                    {% for a in all_user %}
                    {% if a.userpermission.is_student == False %}
                    <tr>
                        <td><a href="/dialogs/{{ a.username }}">{{a.username}}</a></td>
                        {% if a.permittedlist in request.user.permittedlist.allowed.all %}
                        <td>Visible &nbsp;<a href="/social/untrustable/{{a.id}}">Change</a></td>
                        {% else %}
                        <td>Hidden &nbsp;<a href="/social/trustable/{{a.id}}">Change</a></td>
                        {% endif %}
                        <td>Faculty</td>
                        {% if request.user.resolvedlist in a.resolvedlist.resolved.all %}
                        <td><span class="label">Solved</span></td>
                        {% else %}
                        <td><span class="label label-success">Active</span></td>
                        {% endif %}                
                    </tr>    
                {% endif %}
            {% endfor %} 
            {% endif %}   
                  </tbody>
                </table>
                </div>
        </div>
    </div>
<!--
{% if request.user.userpermission.is_student == True %}
{% for a in all_user %}
    {% if a.userpermission.is_student == False %}
        <a href="/dialogs/{{ a.username }}">{{a.username}}</a> -
        
        
        
        {% if a.permittedlist in request.user.permittedlist.allowed.all %}
        <a href="/social/untrustable/{{a.id}}">Mark as Untrustable</a>-
        trustable:
            True 
            {% else %}
            <a href="/social/trustable/{{a.id}}">Mark as Trustable</a>-
            trustable:
            False
        {% endif %}
        
        {% if request.user.resolvedlist in a.resolvedlist.resolved.all %}
            Faculty has marked your issue as resolved. <a href= "#">Open new issue</a>
            {% else %}
            Issue active
        {% endif %}
            
            
        <br>
    {% endif %}
        
{% endfor %}
    {% else %}
    {% for a in all_user %}
    
    {% if a.userpermission.is_student == True %}
        <a href="/dialogs/{{ a.username }}">
            {% if request.user.permittedlist in a.permittedlist.allowed.all %}
            {{ a.username }}-
        {% else %}
            Anonymous {{a.id}}-
    {% endif %}
</a> -
{% if a.resolvedlist in request.user.resolvedlist.resolved.all %}
    <p>Student Issue Resolved</p>
{% else %}
            <a href="/social/resolved/{{a.id}}/">Marks Issue as resolved</a>
{% endif %}
//found the issue. Create an instance of the object of faculty resolved list

       
        //<a href="#">Issue Resolved</a>
        <br>
    {% endif %}
        
{% endfor %}
{% endif %}
-->